@model IEnumerable<WebApplication15.Models.Customer>
@{
}
<table class="table table-bordered">
    <tr>
        <th>Name</th>
        <th>Email</th>
    </tr>
    @foreach (var Cust in Model)
    {
        <tr>
            <td>@Cust.Name</td>
            <td>@Cust.Email</td>
        </tr>
    }
</table>
